.input-form {
  background-color: rgb(216, 215, 215);
  color: black;
  border-color: rgb(179, 179, 179);
}

.style-about {
  padding: 25px;
}

.flecha-contacto {
  width: 24px;
  height: 24px;
  padding: 3px;
  color: black;
}

#mobileMenu {
  background-color: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.opcion-menu:hover {
  background-color: brown;
}

@media (min-width: 768px) {
  .cv {
    gap: 50px;
    margin-left: -50px;
  }

  .cv:hover {
    border: 1px solid greenyellow;
  }

  .carditas {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }
}

.skill-card:hover {
  border: 1px solid greenyellow;
}
